<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <display-name>Cashmachine Web App</display-name>

    <!-- Struts 2 config -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-appcontext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--<listener>-->
      <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
   <!--</listener>-->
   <!--<context-param>-->
      <!--<param-name>contextConfigLocation</param-name>-->
      <!--<param-value>classpath:/config/dev/spring-cashmachine.xml, classpath:/config/dev/spring-dao.xml, classpath:/config/dev/spring-datasource.xml</param-value>-->
   <!--</context-param>-->

</web-app>